@{
    ViewBag.Title = "OrderEntryStep2Advance";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

  @section Menu{
            @Html.Partial("sidemenuorder");
        }

@model CP_Cards.Models.RackView

        <div class="hero-unit">
               <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
          </div>

            @using (Html.BeginForm("OrderEntryStep2Advance", "Order", new { storenumber = ViewBag.Storenumber,Display = ViewBag.Display,Territory=ViewBag.Terr}, FormMethod.Post))
                {
          <div class="row-fluid">
              
            <div class="span12">
                
              <h3>Place you card order @Model.EDCards.Count() </h3>
              <div class="span4">@Html.DropDownListFor(m => m.rack, new SelectList(Model.Cards, "Rack", "Rack", Model.rack), "--Select--", new {@name="rack", @id="select" })</div>
              <div class="span4"><button class="btn btn-danger" >Select Rack &raquo;</button></div>
             
            </div><!--/span-->
           <div class="span12">
               @{int ss = Model.EDCards.Count();}
                  <input type="hidden" id="findCheck" value="0" />
                  <div class="span4"><a class="btn btn-danger" id="flipRack" >View Rack &raquo;</a></div>
                <div class="span4"><a class="btn btn-danger" id="flipRack" >Back To Order Entry &raquo;</a></div>
           </div>
          </div><!--/row-->
             

          <div class="row-fluid">
              
            <div class="span12">
                
              <h4>Racks</h4>
              <div class="span8">For Store @{ foreach (var mm in Model.Accounts)
                                        {
                       <div>@mm.StoreNumber - @mm.CustName - @mm.City</div>
              }
                    }</div>
            </div><!--/span-->
           
          </div><!--/row-->
            }

@using(Html.BeginForm("OrderEntry2AdvanceSave","Order",new { storenumber = ViewBag.Storenumber,Display = ViewBag.Display,Territory=ViewBag.Terr},FormMethod.Post))
{
    <div class="row" id="frontrack">
         @*Rack of 96*@
           @{if(Model.EDCards.Count() == 96)
             {
            <div class="span9" >
                        
                @{int MainCounter;
                 MainCounter= Model.EDCards.Count();
                 var seq = Model.EDCards;
                 var result = seq.Select((s,i) => new {Value =s , Index = i}).GroupBy(item => item.Index/8, item => item.Value);
                 
                    foreach (var ss1 in result.OrderByDescending(x => x.Key))
                    {
                        foreach (CP_Cards.Models.Cards tt1 in ss1)
                        {
                          <div class="span1">@tt1.Rack </div>
                          <div class="span1">@Html.TextBox("MyRack", "", new {@class = "customtext",@onchange="TextBoxEnter(" + @tt1.Space + "," + @tt1.A_Retail + ")", @id="txt"+@tt1.Space  })</div>     
                          <input type="hidden" value="@tt1.Space" id="hid-@tt1.Space" name="rackSpace" /> 
                          <input type="hidden" value="@tt1.A_Retail" id="ret-@tt1.Space" name="retailPrice" />
                           Model.SingleCards = tt1;
                            @Html.HiddenFor(x => x.SingleCards.Rack); 
                   
                        }
                    }
                 }
                
           
            </div><!--/span-->
           }
       
           
       }

        @*Count of 84*@
        @{if(Model.EDCards.Count() == 84)
             {
            <div class="span9" >
                        
                @{int MainCounter;
                 MainCounter= Model.EDCards.Count();
                 var seq = Model.EDCards;
                 var result = seq.Select((s,i) => new {Value =s , Index = i}).GroupBy(item => item.Index/8, item => item.Value);
                 
                    foreach (var ss1 in result.OrderByDescending(x => x.Key))
                    {
                        foreach (CP_Cards.Models.Cards tt2 in ss1)
                        {
                          <div class="span1">@tt2.Rack </div>
                          <div class="span1">@Html.TextBox("MyRack", "", new {@class = "customtext", @onclick="TextBoxEnter()", @id="txt"+@tt2.Space })</div>     
                          <input type="hidden" value="@tt2.Space" id="hid-@tt2.Space" name="rackSpace" /> 
                          <input type="hidden" value="@tt2.A_Retail" id="ret-@tt2.Space" name="retailPrice" />
                           Model.SingleCards = tt2;
                            @Html.HiddenFor(x => x.SingleCards.Rack); 
                   
                        }
                    }
                 }
                
           
            </div><!--/span-->
           }
       
           
       }



        </div><!--/row-->
               <div class="row" id="frontrack" style="display: none">
            

             @*Rack of 96*@
           @{if(Model.EDCards.Count() == 96)
             {
                <div class="span12">
                        
                @{int MainCounter1;
                  var seq1 = Model.EDCards;
                  var result1 = seq1.Select((s, i) => new { Value = s, Index = i }).GroupBy(item => item.Index / 8, item => item.Value);
                   
                    foreach (var ss1 in result1.OrderByDescending(x => x.Key))
                    {
                        foreach (var tt in ss1)
                        {
                           
                              <div id="designme" class="designme btn-primary2">
                                  <b>@tt.Space,@tt.Rack,@tt.A_Retail</b>;<br />
                                     @tt.A_Design @tt.M_Design;
                                  </div>
                           
                        }
                    } 
                             
                
                   }
                 
                
           
            </div><!--/span-->
           }
           }

 @*Rack of 96*@
           @{if(Model.EDCards.Count() == 84)
             {
                <div class="span12">
                        
                @{int MainCounter1;
                  var seq1 = Model.EDCards;
                  var result1 = seq1.Select((s, i) => new { Value = s, Index = i }).GroupBy(item => item.Index / 8, item => item.Value);
                   
                    foreach (var ss1 in result1.OrderByDescending(x => x.Key))
                    {
                        foreach (var tt in ss1)
                        {
                           
                              <div id="designme" class="designme btn-primary2">
                                  <b>@tt.Space,@tt.Rack,@tt.A_Retail</b>;<br />
                                     @tt.A_Design @tt.M_Design;
                                  </div>
                           
                        }
                    } 
                             
                
                   }
                 
                
           
            </div><!--/span-->
           }
           }


    </div>
    
    
    
     <div class="row-fluid">
              
        <div class="span12">
              <div class="span4"></div>  
            </div>
            <div class="span12">
              <div class="span4"><button class="btn btn-danger" >Save Rack &raquo;</button></div>  
              <div class="span4"><a class="btn btn-primary" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr})" >Finish Order Process &raquo;</a></div>  
              
            </div><!--/span-->
           
   </div><!--/row-->
    
}
 






  @section JS_Script{
            @Html.Partial("jspartial");
        }            