@model CP_Cards.Models.TSView

@{
    ViewBag.Title = "OrderEntryStep1new";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

 @section Menu{
            @Html.Partial("sidemenu");
        }

<div class="hero-unit">
    <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
   </div>

            @using (Html.BeginForm())
                {
          <div class="row-fluid">
              
            <div class="span12">
                
                 <div class="span12">
                  <div class="span4"><a class="btn btn-danger" id="checkUncheck" href="@Url.Action("RecentOrders", "Home", new {Territory = ViewBag.Terr })">View Orders &raquo;</a></div>
                  <div class="span4"><a class="btn btn-danger" id="flipRack" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })" >Back to Main Menu &raquo;</a></div>
            </div>
            <div class="span12">
            </div>
            <div class="span12">
              <div class="span4">@Html.DropDownListFor( m => m.StoreNumber, new SelectList(Model.AccountAll, "StoreNumber","ConInfo", Model.StoreNumber), "--Select--")</div>
             <div class="span1"> OR</div>
                <div class="span1"> <input name="tempAccount" type="text" id="tempAccount" class="customtext"></div>
              <div class="span4"><button class="btn btn-danger" >Select Rack &raquo;</button></div>
            </div> 
            </div><!--/span-->
        <div class="span12">
           @{ if(Model.SingleAccount !=null)
             {
    
                <strong>Store Number: @Model.SingleAccount.StoreNumber</strong>
                <div>@Model.SingleAccount.Contact</div>
                <div>@Model.SingleAccount.CustName</div>
                <div>@Model.SingleAccount.Address</div>
                <div>@Model.SingleAccount.Address2</div>
                <div>@Model.SingleAccount.City</div>
             }
           }
            </div>
    
           <div class="span12"></div>

           <div class="span12">
                  <div class="span4"><a class="btn btn-danger" id="ED" href="@Url.Action("OrderEntryStep2", "Order", new {Display = "E",storenumber = Model.SingleAccount.StoreNumber,Territory = ViewBag.Terr})" )">Every Day Card &raquo;</a></div>
                  <div class="span4"><a class="btn btn-danger" id="SC" >Seasonal Card &raquo;</a></div>
                  <div class="span4"><a class="btn btn-danger" id="GM" >General Merchant &raquo;</a></div>
           </div>
          </div><!--/row-->
            }
            @using (Html.BeginForm("CreateTransactionOrder", "Order", new { Territory = ViewBag.Terr, val = "All", storenumber = Model.SingleAccount.StoreNumber }, FormMethod.Post))
            {
          <div class="row-fluid">
              <div class="span12"></div>
              <div class="span12">
                  <textarea id="orderinfo" class="customtextarea" name="orderinfo" placeholder="Enter Order information" ></textarea>
              </div>
              <div class="span12"><div class="span4"><button class="btn btn-danger" id="Submit" >Submit &raquo;</button></div></div>


          </div>
            }
            