@{
    ViewBag.Title = "OrderEntryStep2";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model CP_Cards.Models.RackView



        <div class="hero-unit">
            <h2>OrderEntryStep2</h2>
            
          </div>
            @using (Html.BeginForm("OrderEntryStep2", "Order", new { storenumber = ViewBag.Storenumber,Display = ViewBag.Display,val=string.Empty}, FormMethod.Post))
                {
          <div class="row-fluid">
              
            <div class="span12">
                
              <h3>Place you card order</h3>
              <div class="span4">@Html.DropDownListFor(m => m.rack, new SelectList(Model.Cards, "Rack", "Rack", Model.rack), "--Select--", new {@name="rack", @id="select" })</div>
              <div class="span4"><button class="btn btn-danger" >Select Rack &raquo;</button></div>
             
            </div><!--/span-->
           <div class="span12">
               @{int ss = Model.EDCards.Count();}
                  <div class="span4"><a class="btn btn-danger" id="checkUncheck" )">Check/UnCheck &raquo;</a></div>
                  <div class="span4"><a class="btn btn-danger" id="flipRack" >View Rack &raquo;</a></div>
                  <div class="span4"><a class="btn btn-danger" >Save Rack &raquo;</a></div>
           </div>
          </div><!--/row-->
             

          <div class="row-fluid">
              
            <div class="span12">
                
              <h4>Racks</h4>
              <div class="span8">For Store @{ foreach (var mm in Model.Accounts)
                                        {
                       <div>@mm.StoreNumber - @mm.CustName - @mm.City</div>
              }
                    }</div>
            </div><!--/span-->
           
          </div><!--/row-->
   
     <div class="row" id="frontrack">
            
         @{if(Model.EDCards.Count() > 0)
               {
               Html.Raw("<div class=" + "\"span9" + ">");
               }
           if (Model.EDCards.Count() < 96)
           {
               Html.Raw("<div class=" + "\"span6" + ">");

           }
           
          }
           
            <div class="span9" >
                        
                @{int MainCounter;
                 MainCounter= Model.EDCards.Count();
                 var seq = Model.EDCards;
                 var result = seq.Select((s,i) => new {Value =s , Index = i}).GroupBy(item => item.Index/8, item => item.Value);
                 
                    foreach (var ss1 in result.OrderByDescending(x => x.Key))
                    {
                        foreach (var tt in ss1)
                        {
                          <div class="span1"> <a  class="btn1 btn-large btn-primary" id="btn-@tt.Space" onclick="ToggleButton(@tt.Space)">@tt.Rack@tt.Space</a></div>
                        <input type="hidden" value="@tt.Space" id="hid-@tt.Space" />    
                        }
                    }
                 }
                
           
            </div><!--/span-->
           
          </div><!--/row-->
               <div class="row" id="frontrack" style="display: none">
            
                <div class="span12">
                        
                @{int MainCounter1;
                  var seq1 = Model.EDCards;
                  var result1 = seq1.Select((s, i) => new { Value = s, Index = i }).GroupBy(item => item.Index / 8, item => item.Value);
                   
                    foreach (var ss1 in result1.OrderByDescending(x => x.Key))
                    {
                        foreach (var tt in ss1)
                        {
                           
                              <div id="designme" class="designme btn-primary2">
                                  <b>@tt.Space,@tt.Rack,@tt.A_Retail</b>;<br />
                                     @tt.A_Design @tt.M_Design;
                                  </div>
                           
                        }
                    } 
                             
                
                   }
                 
                
           
            </div><!--/span-->
           
          </div><!--/row-->
                }
      
                       

@*        @using(Html.BeginForm(()*@

