@model CP_Cards.Models.RackView

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Cards Plus</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.style1 {font-size: x-large}
-->
</style>

</head>

<body leftmargin="0" topmargin="0" rightmargin="0">
@*<% If Session("Testing") = "Yes" Then%><span class="style2">Test Mode Enabled</span><br><%end if%> *@
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td height="56" colspan="2" valign="top"><img src="@Href("~/images/top_name.jpg")" width="318" height="56"></td>
  </tr>
  <tr>
    <td width="149" height="507" valign="top" bgcolor="76A1E3">		<map name="right_bar_map">
        <area alt="" coords="3,5,144,38" href="main.html">
        <area alt="" coords="3,40,144,75" href="about.html">
        <area alt="" coords="4,77,144,109" href="products.html">
        <area alt="" coords="4,111,143,150" href="support.html">
        <area alt="" coords="3,152,142,191" href="contact.html">
        <area alt="" coords="4,192,141,236" href="staff.html">
        <area alt="" coords="3,468,147,506" href="http://w3.cards-plus.com/">
    </map>      <img src="@Href("~/images/right_bar.gif")" alt="" width="149" height="507" border="0" usemap="#right_bar_map">      </td>
    <td width="100%" valign="top">
	  <div align="right">
	    <table width="100%"  border="0" cellpadding="0">
          <tr>
            <td><div align="left" class="style1"><strong>Order Entry Step 2</strong></div></td>
            <td><div align="right"><strong><a href="javascript:submitform('mainmenu')">
                
                <script type="text/jscript">
                    var position
                    function submitform(position) {
                        document.Rackpos.Location.value = position
                        document.Rackpos.submit();
                    }
                </script>			
<img src="@Href("~/images/TextButtons/BackToOrderEntry.gif")" width="159" height="56" border="0"></a></strong>

                </div></td>
          </tr>
        </table>
	    <strong></strong>
      </div>
	  <hr>
	  
@using(Html.BeginForm())
{
<table width="100%"  border="0" cellpadding="0">
    <tr>
      <td>
          <div align="right">
            @*<select name="rack" id="select">
                <option selected value="<%=Rack%>"><%=Rack%></option>
               
                <option value="<%=(Racks.Fields.Item("Rack").Value)%>"><%=(Racks.Fields.Item("Rack").Value)%></option>
               
            </select>*@
              @Html.DropDownListFor( m => m.Rack, new SelectList(Model.Cards, "Rack","Rack", Model.Rack), "--Select--")

          </div></td>
      <td>
        <div align="right">
          <img src="@Href("~/images/TextButtons/SelectRack.gif")" onClick="SwitchRacks()">        
           <a href="javascript:selectAll()"><img src="@Href("~/images/TextButtons/CheckUnCheckAll.gif")" width="159" height="56" border = "0"></a>

        </div></td>
    </tr>
  </table>
}
<hr>
<p align="center"> 
  

      </p>
@using (Html.BeginForm("OrderEntryStep3", "Home", FormMethod.Post, new { name = "Rackpos", id = "RackPos" }))
{
  <div align="right">
  <a href="javascript:RackFlip()"><img src="@Href("~/images/TextButtons/ViewRackDetails.gif")" width="159" height="56" border="0"></a>
  <input type="image" src="@Href("~/images/TextButtons/SaveThisRack.gif")" name="Submit" value="Save Order">
  <br>
      <a href="@Url.Action("OrderEntryStep2Advanced", "Home")"><abbr>Advance Entry</abbr>  </a>

  </div>
    <div align="justify">
        <p align="center">
            <span class="style1">
                <input type="checkbox" Style="visibility: hidden"  name="RackFlip" value="True" id="RackFlip" >
                <input type="hidden" name="Rack" value="<%=Rack%>">
	            <input name="Location" type="hidden" id="Location">
	            <input name="NextRack" type="hidden" id="NextRack">
                <br />
                 Rack
                <br />
                For @{ foreach (var mm in Model.Accounts)
                       {<span>@mm.StoreNumber - @mm.CustName - @mm.City</span> }
                    }
            </span></p>
        <table width="100%" border="1" align="center" cellpadding="0">
            @{string MainCounter = "";
              String Session = "";
              string TFinder = "";
              string Prego = "Yes";
               }
            <tr>
                <td>
                    @{if(Prego == "Yes")
                     {
                    <input type="CheckBox" style="visibility: hidden" name="input_check[@MainCounter]" id="inputCheck + @MainCounter"
                        value="" checked />
                <a href="javascript:checkBox(@MainCounter)"><img src="buttons/@MainCounter @:c.gif" id="imgCheck" style="border:none; " /></a>
                   
                <div align=""center"">
                    <img src="buttons/c.gif" id="imgcheck" style="border: none;" alt = "" align="top"/>
                    <br><a href="javascript:addsubtract("",'subtract')"><img src="buttons/subtract.gif" width="15" height="15" border="0">

                        </a><input name="amountbox" class="style2" type="text" id="amountbox" value="" size="1">
                    <a href=""javascript:addsubtract("",'add')""><img src="buttons/add.gif" width="15" height="15" border="0"></a>

                </div>
                   }
                   }
                   
                </td>
            </tr>
        </table>
    </div>
    
    <script type="text/javascript">
        //check = []; //this is an array that stores all the true/false values for each checkbox 
        var i

        function SwitchRacks() {
            Rackpos.NextRack.value = (racks.rack.selectedIndex - 1)
            document.Rackpos.submit()

        }

        function selectAll() {
            for (i = 160; i >= 0; i--) {
                checkBox(i);
            }
        }
        function checkBox(id) {
            if (document.getElementById('inputCheck' + id) != null) {
                //   if(check[id] != true) //if a value is not true, use this rather than == false, 'cos the first time no value will be set and it will be undefined, not true or false 
                if (document.getElementById('inputCheck' + id).checked == true) {
                    document.getElementById('imgCheck' + id).src = "buttons/" + id + "u.gif"; //change the image 
                    document.getElementById('inputCheck' + id).checked = false; //change the field value 
                    //       check[id] = true; //change the value for this checkbox in the array 
                }
                else {
                    document.getElementById('imgCheck' + id).src = "buttons/" + id + "c.gif";
                    document.getElementById('inputCheck' + id).checked = true;
                    //        check[id] = false; 
                }
            }
        }

        function addsubtract(whichone, amount) {
            var whichone;
            var amount;
            var tempnumber;

            tempnumber = document.getElementById('amountbox' + whichone).value;
            if (amount == 'add') {
                tempnumber++;
            }
            if (amount == "subtract") {
                tempnumber--;
            }
            if (tempnumber <= 0) {
                tempnumber = 0;
                document.getElementById('imgCheck' + whichone).src = "buttons/" + whichone + "u.gif";
                document.getElementById('inputCheck' + whichone).checked = false;
            }
            if (tempnumber > 0) {
                document.getElementById('imgCheck' + whichone).src = "buttons/" + whichone + "c.gif";
                document.getElementById('inputCheck' + whichone).checked = true;
            }
            document.getElementById('amountbox' + whichone).value = tempnumber;
        }

        function RackFlip() {
            document.getElementById('RackFlip').checked = true;
            document.Rackpos.submit();
        }
    </script>

}
	</td>
  </tr>
</table>
</body>
</html>
