@model CP_Cards.Models.TSView
@{
    ViewBag.Title = "MainPageNew";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

 @section Menu{
            @Html.Partial("sidemenu");
        }

        <div class="hero-unit">
               <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
          </div>

     <div class="customhero-unit">
              <h3>Recent Orders</h3>

          </div>

<div class="row">
                
                 <div class="span12">
                  <div class="span3"><a class="btn btn-danger" id="checkUncheck" <a href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })">" >Bacc To Main Menu &raquo;</a></div>
                  <div class="span3"><a class="btn btn-danger" id="flipRack" href="@Url.Action("TimeSheet", "Home", new {Territory = ViewBag.Terr })" >TimeSheet Entry &raquo;</a></div>
                  <div class="span3"><a class="btn btn-danger" id="flipRack" href="@Url.Action("RecentOrders", "Home", new {Territory = ViewBag.Terr })" >View Recent Orders &raquo;</a></div>
                </div>
                  <div class="span12"></div>

              <div class="span12">
                  <div class="span3"><a class="btn btn-danger" id="checkUncheck" href="@Url.Action("OrderEntryStep1", "Order", new {Territory = ViewBag.Terr })" >Place An Order &raquo;</a></div>
                 @* <div class="span3"><a class="btn btn-danger" id="flipRack" href="@Url.Action("OrderSupplies", "Order", new {Territory = ViewBag.Terr })" >Order Supplies &raquo;</a></div>
                  <div class="span3"><a class="btn btn-danger" id="flipRack" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })" >Update Personal Info &raquo;</a></div>*@
               </div>
    
    </div>
	
    @using(Html.BeginForm())
    {
  <table width="100%"  border="0" cellpadding="0">
    <tr>
      <td><div align="left">
       @* <select name="account" id="account">
            @foreach(var mm in Model.Account)
            {
            <option value="@mm.StoreNumber" selected="@mm.StoreNumber">@mm.StoreNumber -  @mm.CustName - @mm.City</option>
            }
     
            <option value="" selected=""></option>
        
        </select>*@
      @Html.DropDownListFor( m => m.StoreNumber, new SelectList(Model.AccountAll, "StoreNumber","ConInfo", Model.StoreNumber), "--Select--")

    OR
      <input name="tempAccount" type="text" id="tempAccount" size="5">
     <input name ="Territory" type="hidden" id="TerrID" value="@ViewBag.Terr" />
      </div></td>
      <td><div align="right">
        <input name="SelectAccount" type="image" src="@Href("~/images/TextButtons/SelectAccount.gif")" id="SelectAccount2" value="Select Account">
@*        <input name="SelectAccount" type="image" src="@Href("~/images/TextButtons/ShowAllOrders.gif")" id="SelectAccount3" value="Select All Orderd">*@
        <a href="@Url.Action("RecentOrders", "Home", new {Territory = ViewBag.Terr , Val = "All"})"><img src="@Href("~/images/TextButtons/ShowAllOrders.gif")" width="159" height="56" border="0"></a> </div></td>
    </tr>
  </table>
    }

<table width="100%"  border="1" cellpadding="1">
@{
    if (Model.Account.Count() == 1 || ViewBag.val == "All")
    {
       
          <tr>
            <td><div align="left"><strong>Ship Date</strong></div></td>
            <td><div align="left"><strong>Number</strong></div></td>
            <td><div align="left"><strong>InvNumber</strong></div></td>
            <td><div align="left"><strong>Code</strong></div></td>
            <td><div align="left"><strong>Amount</strong></div></td>
            <td><div align="left"><strong>Season Name</strong></div></td>
            <td><div align="left"><strong>Name</strong></div></td>
            <td><div align="left"><strong>City</strong></div></td>
            <td><strong>State</strong></td>
          </tr>
     foreach(var ms in Model.Order)
        {
          <tr>
            <td>
              <div align="left">@ms.S_Date </div></td>
            <td><div align="left">@ms.StoreNumber</div></td>
            <td><div align="left">@ms.InvNumber</div></td>
            <td><div align="left">@ms.Code</div></td>
            <td><div align="left">@ms.Amount</div></td>
            <td><div align="left">@ms.SeasonName</div></td>
            <td><div align="left">@ms.CustName</div></td>
            <td><div align="left">@ms.City</div></td>
            <td>@ms.State</td>
          </tr>
         }
      }
    }
</table>
<div align="center"><strong></strong> <br>
  </div>	</td>
  </tr>
</table>
</body>
</html>

