@model CP_Cards.Models.TSView
@{
    ViewBag.Title = "MainPageNew";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

 @section Menu{
            @Html.Partial("sidemenu");
        }

        <div class="hero-unit">
               <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
          </div>

     <div class="customhero-unit">
              <h3>Recent Orders</h3>

          </div>


      @using (Html.BeginForm("RecentOrders", "Home", new { Territory = ViewBag.Terr }))
                {
          <div class="row-fluid">
              
            <div class="span12">
                
                 <div class="span12">
                  <div class="span4"><a class="btn btn-danger" id="flipRack" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })" >Back to Main Menu &raquo;</a></div>
            </div>
            <div class="span12">
            </div>
            <div class="span12">
              <div class="span4"> @Html.DropDownListFor( m => m.StoreNumber, new SelectList(Model.AccountAll, "StoreNumber","ConInfo", Model.StoreNumber), "--Select--")</div>
             <div class="span1"> OR</div>
                <div class="span1"> <input name="tempAccount" type="text" id="tempAccount" class="customtext"></div>
              <div class="span4"><button class="btn btn-danger" >Show Orders&raquo;</button></div>
            </div> 
            </div><!--/span-->
            <table width="100%"  border="1" cellpadding="1">
@{
    if (Model.Account.Count() == 1 || ViewBag.val == "All")
    {
       
          <tr>
            <td><div align="left"><strong>Ship Date</strong></div></td>
            <td><div align="left"><strong>Number</strong></div></td>
            <td><div align="left"><strong>InvNumber</strong></div></td>
            <td><div align="left"><strong>Code</strong></div></td>
            <td><div align="left"><strong>Amount</strong></div></td>
            <td><div align="left"><strong>Season Name</strong></div></td>
            <td><div align="left"><strong>Name</strong></div></td>
            <td><div align="left"><strong>City</strong></div></td>
            <td><strong>State</strong></td>
          </tr>
     foreach(var ms in Model.Order)
        {
          <tr>
            <td>
              <div align="left">@ms.S_Date </div></td>
            <td><div align="left">@ms.StoreNumber</div></td>
            <td><div align="left">@ms.InvNumber</div></td>
            <td><div align="left">@ms.Code</div></td>
            <td><div align="left">@ms.Amount</div></td>
            <td><div align="left">@ms.SeasonName</div></td>
            <td><div align="left">@ms.CustName</div></td>
            <td><div align="left">@ms.City</div></td>
            <td>@ms.State</td>
          </tr>
         }
      }
    }
</table>
          </div>
      }
	
    
