@model CP_Cards.Models.TSView

@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<@section Menu{
            @Html.Partial("sidemenu");
        }

        

     <div class="customhero-unit">
              <h3>TimeSheet Entry Form for Territory @ViewBag.Terr</h3>

          </div>
@*<div class="row">
                
                 <div class="span12">
                  <div class="span3"><a class="btn btn-danger" id="Mainpage" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })" >BackTo Main Page &raquo;</a></div>
                </div>
    </div>
<hr />*@

@using (Html.BeginForm("TimeSheet", "Home", new { Territory = ViewBag.Terr }))
{
<div class="row">
         <div class="span12"><h4>Please Select Store To fill TimeSheet</h4></div>           
        <div class="span12">
            <div class="span3">@Html.DropDownListFor( m => m.StoreNumber, new SelectList(Model.AccountAll, "StoreNumber","ConInfo", Model.StoreNumber), "--Select--")</div>
            <div class="span1"> OR</div>
                <div class="span1"> <input name="tempAccount" type="text" id="tempAccount" class="customtext"></div>
            <div class="span3"><button class="btn btn-danger">Select Store</button></div>
        </div>
  </div>
<hr />
  foreach (var m1 in Model.Account)
           {
      
        <div class="row">
             <div class="span10"><h4>Customer Conact Information</h4></div>
               <div class="span12">
                    <div class="span2">Account:</div>
                    <div class="span1">@m1.StoreNumber</div>
               </div>
            <div class="span12">
                    <div class="span2">Contact:</div>
                    <div class="span3">@m1.Contact</div>
               </div>
            <div class="span12">
                    <div class="span2">Customer:</div>
                    <div class="span3">@m1.CustName</div>
               </div>
            <div class="span12">
                    <div class="span2">Address:</div>
                    <div class="span3">@m1.Address</div>
               </div>
            <div class="span12">
                    <div class="span2">City, State, Zip:</div>
                    <div class="span3">@m1.City,@m1.State,@m1.Zip</div>
               </div>
            <div class="span12">
                    <div class="span2">Phone:</div>
                    <div class="span3">@m1.Phone</div>
               </div>
            </div>
    <hr />
          }
  
   }

@using(Html.BeginForm("TimeSheetAdd","Home"))
{
    string value = String.Format("{0:d}", DateTime.Now.ToString("dd/MM/yyyy"));
    <div class="row">
               <div class="span12" style="visibility:hidden">
                    <div class="span1">Date:</div>
                    <div class="span2" >@Html.TextBox("TSDate", value, new {@class="datafield" })

                    </div>
               </div>
          <div class="span10"><h4>Customer Invoice Information</h4></div>
        <div class="span8">
               <table class=" table table-striped">
                      <tr><th style="width:10px">Invoice #</th><th style="width:10px">Date</th><th style="width:10px">Cartons</th><th style="width:10px">Tracking Number</th><th style="width:10px">Description</th></tr>
                      
               </table>
            </div>
                  @{if(Model.Account.Count() == 1)
                    {
                    foreach(var m2 in Model.Invoice)
                        {
                     <div class="span8">
                       <table class=" table table-striped">
                           <tr>
                               @{var ss = "http://wwwapps.ups.com/WebTracking/processInputRequest?sort_by=status&tracknums_displ ayed=1&TypeOfInquiryNumber=T&loc=en_US&InquiryNumb er1=" + @m2.inv_ship_track + "&track.x=0&track.y=0";
                                 var link = "http://wwwapps.ups.com/etracking/tracking.cgi?InquiryNumber1=" + @m2.inv_ship_track + "&track.x=0&track.y=0";
                                 }
                               <td style="width:10px;"><input type="checkbox" id="inv-@m2.inv_number" name="" class ="invclass" value="@m2.inv_number"></td>
                               <td  class="invnumber" style="width:50px; text-align:left">@m2.inv_number</td>
                               <td id ="date-@m2.inv_number" class="invdate" style="width:60px;text-align:center">@string.Format("{0:d}",m2.inv_date.ToString("dd/MM/yyyy"))</td>
                               
                               <td id="carton-@m2.inv_number" class="invcarton" style="width:60px; text-align:center">@m2.inv_cartons</td>
                               <td><a href="@link" target="_blank" style="width:100px; text-align:right">@m2.inv_ship_track</a></td>
                               <td style="width:150px; text-align:left">@m2.inv_season</td>

                           </tr>
                       </table>
                     </div>  
                 <input type="hidden" class="track-@m2.inv_number" value="@m2.inv_ship_track"/>
                  }
               }
             }
               

        </div>
    <hr />
        <div class="row">
           <div class="span10"><h4>Services Provided During Visit</h4></div>
              @{if(Model.TaskList != null)
                {
                  foreach(var task in Model.TaskList)
                {
            <div class="span12">
                  <div class="span1">@Html.CheckBox("Service" + task.tal_id, false, new {@value = task.tal_name })</div>
                  <div class="span2">@task.tal_name</div>
           
            </div>
              }
              }
             }
            </div>
    <hr />
            <div class="row">
                 <div class="span10"><h4>Notes</h4></div>
            <div class="span12">
                   <div class="span8">@Html.TextArea("TimeSheetNotes")</div>
            </div>
              <div class="span10">
                   <div class="span6"><a class="btn btn-danger" onclick="postdata()">Submit</a></div>
            </div>
            </div>

    <div id="insertcomplete"></div>
     @section IndJS{
     <script type="text/javascript">
         function postdata() {
             var SList = "";
             var TrackNum = "";
             var Invoicedate = "";
             var cartons = "";
             var storenumber = $("#StoreNumber").val();
             $("input[type=checkbox]").filter(".invclass").each(function () {
                 var invnumber = (this.checked ? $(this).val() : "");
                 SList += (invnumber != "" ? invnumber + "," :  "");

                 if (this.checked == true) {
                     var sdate = $("#date-" + invnumber).text();
                     var stracknum = $("#track-" + invnumber).text();
                     var scarton = $("#carton-" + invnumber).text();
                     Invoicedate += (sdate != "" ? sdate + "," : "");
                     TrackNum += (stracknum != "" ? stracknum + "," : "");
                     cartons += (scarton != "" ? scarton + "," : "");
                 }
             });
             var invnumber = SList;
             var ee = Invoicedate;
             var ff = cartons;


             var service = (($("#Service1").is(":checked")) == true ? $("#Service1").val() : "") +
                      (($("#Service2").is(":checked")) == true ? "," +$("#Service2").val() : "") +
                      (($("#Service3").is(":checked")) == true ? "," + $("#Service3").val() : "") +
                      (($("#Service4").is(":checked")) == true ? ","+ $("#Service4").val() : "") + 
                      (($("#Service5").is(":checked")) == true ? "," + $("#Service5").val() : "") + 
                      (($("#Service6").is(":checked")) == true ? "," + $("#Service6").val() : "");

             var TSDate = $("#TSDate").val();
        var notes = $("#TimeSheetNotes").val();
      
        var geturl = '@Url.Action("TimeSheetAdd","Home")';

        var timeSheet = {
            TSDate: TSDate,
            Cartons: cartons,
            TrackingNumber: TrackNum,
            InvoiceDate: Invoicedate,
            InvoiceNo: invnumber,
            ServiceProvided: service,
            Notes: notes,
            StoreNumber: storenumber
        }

        $.ajax({
            dataType: "json",
            type: 'POST',
            url: geturl,
            data: timeSheet,
            success: function (data) {
                if (data.success == true) {
                    window.location = '@Url.Action("TSMessage", "Home", new {Territory = ViewBag.Terr  })';
                }
                else {
                    getpop(data)
                }
            },
            error: function (xhr) {
            }
            //complete: function () { window.location = '@Url.Action("TSMessage", "Home", new {Territory = ViewBag.Terr  })'; }
        });


             function getpop(data) {
                 $('#popup').ready(function () {
                     toastr.options = {
                         "debug": false,
                         "positionClass": "toast-top-full-width",
                         "onclick": null,
                         "fadeIn": 300,
                         "fadeOut": 1000,
                         "timeOut": 5000,
                         "extendedTimeOut": 1000
                     };

                     if (data.success == false) {
                         toastr.success("TimeSheet was not inserted into the data system. Please call Your System Administrator", "TimeSheet Error Message");
                     }
                 });
             }

            }
    </script>
        }                
    
 
       
}