@model CP_Cards.Models.TSView

@{
    ViewBag.Title = "TimeSheet_New";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<@section Menu{
            @Html.Partial("sidemenu");
        }

        <div class="hero-unit">
               <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
          </div>

     <div class="customhero-unit">
              <h3>TimeSheet Entry</h3>

          </div>
<div class="row">
                
                 <div class="span12">
                  <div class="span3"><a class="btn btn-danger" id="Mainpage" href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })" >BackTo Main Page &raquo;</a></div>
                </div>
    </div>
<hr />

@using (Html.BeginForm("TimeSheet", "Home", new { Territory = ViewBag.Terr }))
{
<div class="row">
                
        <div class="span12">
            <div class="span3">@Html.DropDownListFor( m => m.StoreNumber, new SelectList(Model.AccountAll, "StoreNumber","ConInfo", Model.StoreNumber), "--Select--")</div>
            <div class="span1"> OR</div>
                <div class="span1"> <input name="tempAccount" type="text" id="tempAccount" class="customtext"></div>
            <div class="span3"><button class="btn btn-danger">Find Store</button></div>
        </div>
  </div>
<hr />
  foreach (var m1 in Model.Account)
           {
      
        <div class="row">
               <div class="span12">
                    <div class="span3">Account:</div>
                    <div class="span3">@m1.AccountID</div>
               </div>
            <div class="span12">
                    <div class="span3">Contact:</div>
                    <div class="span3">@m1.Contact</div>
               </div>
            <div class="span12">
                    <div class="span3">Customer:</div>
                    <div class="span3">@m1.CustName</div>
               </div>
            <div class="span12">
                    <div class="span3">Address:</div>
                    <div class="span3">@m1.Address</div>
               </div>
            <div class="span12">
                    <div class="span3">City, State, Zip:</div>
                    <div class="span3">@m1.City,@m1.State,@m1.Zip</div>
               </div>
            <div class="span12">
                    <div class="span3">Phone:</div>
                    <div class="span3">@m1.Phone</div>
               </div>
            </div>
    <hr />
          }
  
   }

@using(Html.BeginForm("TimeSheetAdd","Home"))
{
    #region
    DateTime mydate = DateTime.Now;
    string ss = mydate.ToString("d");
    char[] tt = { '/' };
    string[] dateArray = ss.Split(tt);
    
    List<SelectListItem> month = new List<SelectListItem>();
    month.Add(new SelectListItem { Text = "1", Value = "1" });
    month.Add(new SelectListItem { Text = "2", Value = "2" });
    month.Add(new SelectListItem { Text = "3", Value = "3" });
    month.Add(new SelectListItem { Text = "4", Value = "4" });
    month.Add(new SelectListItem { Text = "5", Value = "5" });
    month.Add(new SelectListItem { Text = "6", Value = "6" });
    month.Add(new SelectListItem { Text = "7", Value = "7" });
    month.Add(new SelectListItem { Text = "8", Value = "8" });
    month.Add(new SelectListItem { Text = "9", Value = "9" });
    month.Add(new SelectListItem { Text = "10", Value = "10" });
    month.Add(new SelectListItem { Text = "11", Value = "11" });
    month.Add(new SelectListItem { Text = "12", Value = "12" });

    List<SelectListItem> Day = new List<SelectListItem>();

    Day.Add(new SelectListItem { Text = "1", Value = "1" });
    Day.Add(new SelectListItem { Text = "2", Value = "2" });
    Day.Add(new SelectListItem { Text = "3", Value = "3" });
    Day.Add(new SelectListItem { Text = "4", Value = "4" });
    Day.Add(new SelectListItem { Text = "5", Value = "5" });
    Day.Add(new SelectListItem { Text = "6", Value = "6" });
    Day.Add(new SelectListItem { Text = "7", Value = "7" });
    Day.Add(new SelectListItem { Text = "8", Value = "8" });
    Day.Add(new SelectListItem { Text = "9", Value = "9" });
    Day.Add(new SelectListItem { Text = "10", Value = "10" });
    Day.Add(new SelectListItem { Text = "11", Value = "11" });
    Day.Add(new SelectListItem { Text = "12", Value = "12" });
    Day.Add(new SelectListItem { Text = "12", Value = "12" });
    Day.Add(new SelectListItem { Text = "12", Value = "12" });
    Day.Add(new SelectListItem { Text = "13", Value = "13" });
    Day.Add(new SelectListItem { Text = "14", Value = "14" });
    Day.Add(new SelectListItem { Text = "15", Value = "15" });
    Day.Add(new SelectListItem { Text = "16", Value = "16" });
    Day.Add(new SelectListItem { Text = "17", Value = "17" });
    Day.Add(new SelectListItem { Text = "18", Value = "18" });
    Day.Add(new SelectListItem { Text = "19", Value = "19" });
    Day.Add(new SelectListItem { Text = "20", Value = "20" });
    Day.Add(new SelectListItem { Text = "21", Value = "21" });
    Day.Add(new SelectListItem { Text = "22", Value = "22" });
    Day.Add(new SelectListItem { Text = "23", Value = "23" });
    Day.Add(new SelectListItem { Text = "24", Value = "24" });
    Day.Add(new SelectListItem { Text = "26", Value = "24" });
    Day.Add(new SelectListItem { Text = "25", Value = "25" });
    Day.Add(new SelectListItem { Text = "26", Value = "26" });
    Day.Add(new SelectListItem { Text = "27", Value = "27" });
    Day.Add(new SelectListItem { Text = "28", Value = "28" });
    Day.Add(new SelectListItem { Text = "29", Value = "29" });
    Day.Add(new SelectListItem { Text = "30", Value = "30" });
    Day.Add(new SelectListItem { Text = "31", Value = "31" });

    List<SelectListItem> Year = new List<SelectListItem>();
    Year.Add(new SelectListItem { Text = "2012", Value = "2012" });
    Year.Add(new SelectListItem { Text = "2013", Value = "2013" });
    Year.Add(new SelectListItem { Text = "2014", Value = "2014" });
    Year.Add(new SelectListItem { Text = "2015", Value = "2015" });

    List<SelectListItem> Hour = new List<SelectListItem>();
    Hour.Add(new SelectListItem { Text = "1", Value = "1" });
    Hour.Add(new SelectListItem { Text = "2", Value = "2" });
    Hour.Add(new SelectListItem { Text = "3", Value = "3" });
    Hour.Add(new SelectListItem { Text = "4", Value = "4" });
    Hour.Add(new SelectListItem { Text = "5", Value = "5" });
    Hour.Add(new SelectListItem { Text = "6", Value = "6" });
    Hour.Add(new SelectListItem { Text = "7", Value = "7" });
    Hour.Add(new SelectListItem { Text = "8", Value = "8" });
    Hour.Add(new SelectListItem { Text = "9", Value = "9" });
    Hour.Add(new SelectListItem { Text = "10", Value = "10" });
    Hour.Add(new SelectListItem { Text = "11", Value = "11" });
    Hour.Add(new SelectListItem { Text = "12", Value = "12" });


    List<SelectListItem> Minute = new List<SelectListItem>();
    Minute.Add(new SelectListItem { Text = "00", Value = "00" });
    Minute.Add(new SelectListItem { Text = "05", Value = "05" });
    Minute.Add(new SelectListItem { Text = "10", Value = "10" });
    Minute.Add(new SelectListItem { Text = "15", Value = "15" });
    Minute.Add(new SelectListItem { Text = "20", Value = "20" });
    Minute.Add(new SelectListItem { Text = "25", Value = "25" });
    Minute.Add(new SelectListItem { Text = "30", Value = "30" });
    Minute.Add(new SelectListItem { Text = "35", Value = "35" });
    Minute.Add(new SelectListItem { Text = "40", Value = "40" });
    Minute.Add(new SelectListItem { Text = "45", Value = "45" });
    Minute.Add(new SelectListItem { Text = "50", Value = "50" });
    Minute.Add(new SelectListItem { Text = "55", Value = "55" });
    Minute.Add(new SelectListItem { Text = "60", Value = "60" });


    List<SelectListItem> AMPM = new List<SelectListItem>();
    AMPM.Add(new SelectListItem { Text = "AM", Value = "AM" });
    AMPM.Add(new SelectListItem { Text = "PM", Value = "PM" });



    string Service1 = "Straighten Display";
    string Service2 = "Re-Stock Display";
    string Service3 = "Take Down Seasonal & Write Credit";
    string Service4 = "Set-up Seasonal";
    string Service5 = "Service5";
    #endregion 
    


    
    <div class="row">
               <div class="span12">
                    <div class="span1">Date:</div>
                    <div class="span4">@Html.DropDownList("Month", month, new {@class = "customselect" }):
                                       @Html.DropDownList("Day", Day, new {@class = "customselect" }):
                                       @Html.DropDownList("Year", Year, new {@class = "customselect" })
                    </div>
               </div>
              
                  @{if(Model.Account.Count() == 1)
                    {
                    foreach(var m2 in Model.Order)
                        {
                  <div class="span12">
                    <div class="span1"> <input type="checkbox" name="inv'@m2.InvNumber'" id="invnum" value="@m2.InvNumber"></div>
                    <div class="span1">@m2.InvNumber:</div>
                  </div>
                  }
               }
             }
               

        </div>
    <hr />
        <div class="row">
               <div class="span12">
                    <div class="span2">Miles:</div>
                   <div class="span2">@Html.TextBox("TimesheetMiles")</div>
                   </div>
             <div class="span12">
                    <div class="span2">Time Started:</div>
                   <div class="span4">@Html.DropDownList("HourS", Hour, new {@class = "customselect" }):
                                      @Html.DropDownList("MinuteS", Minute, new {@class = "customselect" }):
                                      @Html.DropDownList("AMPMS", AMPM, new {@class = "customselect" })
                   </div>
                   </div>
            <div class="span12">
                    <div class="span2">Time Finished:</div>
                   <div class="span4">@Html.DropDownList("HourF", Hour, new {@class = "customselect" }):
                                      @Html.DropDownList("MinuteF", Minute, new {@class = "customselect" }):
                                      @Html.DropDownList("AMPMF", AMPM, new {@class = "customselect" })</div>
                   </div>
            <div class="span12">
                  <div class="span1">@Html.CheckBox("Service1", false)</div>
                  <div class="span2">@Service1</div>
                <input type="checkbox"  />
            </div>
                <div class="span12">
                  <div class="span1">@Html.CheckBox("Service2", false)</div>
                  <div class="span2">@Service2</div>
            </div>
                <div class="span12">
                  <div class="span1">@Html.CheckBox("Service3", false)</div>
                  <div class="span2">@Service3</div>
            </div>
             <div class="span12">
                  <div class="span1">@Html.CheckBox("Service4", false)</div>
                  <div class="span2">@Service4</div>
            </div>
            </div>
    <hr />
            <div class="row">
            <div class="span12">
                   <div class="span6">@Html.TextArea("TimeSheetNotes")</div>
            </div>
              <div class="span12">
                   <div class="span6"><a class="btn btn-danger" onclick="postdata()">Submit</a></div>
            </div>
            </div>

    <div id="insertcomplete"></div>
     @section IndJS{
             <script type="text/javascript">
        function postdata()
        {
            var storenumber = $("#StoreNumber").val();
            var invnumber = "";
            $("#invnum").each(function () {
                invnumber = invnumber + ($(this).val());
            });
            //var invnumber = $("#invnum").val();
            var starttime = $("#HourS").val() + ":" + $("#MinuteS").val() + $("#AMPMS").val();
            var endtime = $("#HourF").val() + ":" + $("#MinuteF").val() + $("#AMPMF").val();
            var service = (($("#Service1").is(":checked")) == true ? "@Service1,": "") + 
                          (($("#Service2").is(":checked")) == true ? "@Service2," : "") + 
                          (($("#Service3").is(":checked")) == true ? "@Service3," : "") +
                          (($("#Service4").is(":checked")) == true ? "@Service4," : "");
         
            var TSDate = $("#Month").val() + "/" + $("#Day").val() + "/" + $("#Year").val();
            var notes = $("#TimeSheetNotes").val();
            var miles = $("#TimesheetMiles").val();
            var geturl = '@Url.Action("TimeSheetAdd","Home")';

            var timeSheet = {
                TSDate: TSDate,
                Miles: miles,
                StartTime: starttime,
                FinishTime: endtime,
                InvWorkOn: invnumber,
                ServiceProvided: service,
                Notes: notes,
                StoreNumber: storenumber
            }

            $.ajax({
                dataType: "json",
                type: 'POST',
                url: geturl,
                data: timeSheet,
                complete: function () { window.location = '@Url.Action("TSMessage", "Home", new {Territory = ViewBag.Terr  })'; }
                });
            }
    </script>
        }                
    
 
       
}