<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@Href("~/Contents/bootstrap/css/bootstrap.css")" rel="stylesheet" media="screen">
    <link href="@Href("~/Contents/bootstrap/css/toastr.css")" rel="stylesheet" media="screen">
     <link href="@Href("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" media="screen">
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="~/Scripts/jquery-ui.js"></script>
      <script src="/Scripts/toastr.js"></script>
      <script src="~/Scripts/datepicker.js"></script>
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Cards N Such</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as Territory <a href="#" class="navbar-link">@ViewBag.Terr</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="@Url.Action("MainPage", "Home", new {Territory = ViewBag.Terr })">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
     <div class="container">
      <div class="row">
        @RenderSection("Menu",false)
        <div class="span9">
            @RenderBody()
        <hr>

      <footer>
        <p>&copy; Cards N Such @DateTime.Now.ToShortDateString().</p>
      </footer>
            </div>
        </div>
    </div>
    @RenderSection("IndJS", false);
    @RenderSection("JS_Script", false);

@*    <script src="http://code.jquery.com/jquery.js"></script>*@
    <script src="@Href("~/Scripts/bootstrap.js")"></script>

  </body>
</html>